

/*--- Cobalt Theme Color Overrides ---*/

body {
    background-color: #444;
}

.page-content {
    color: #fff;
}

.page-detail {
    color: #ffffff88;
}

.page-title {
    color: #789;
}

.page-subtitle {
    color: #fff;
}

.page-divider {
    border-color: #ffffff44;
}

.inline-image-label {
    color: #9fafbf;
}

.page-date {
    color: #789;
}

.button {
    border-color: #fff;
    background-color: #ffffff00;
    color: #fff;
}

.button:hover {
    background-color: #fff;
    color: #444;
}

.footer {
    background-color: #456;
    color: #fff;
}

.footer-column-content {
    color: #ffffffaa;
}