
/*--- Default Bootstrap CSS ---*/

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}


/*--- Custom Page CSS ---*/

:root {
  --header-image-height: 500px;
}

.header-image {
  height: calc(var(--header-image-height) * .5) !important;
}
@media (min-width: 768px) {
    .header-image {
      height: var(--header-image-height) !important;
    }
}

body {
    background-color: #f9f9f9;
}

/* Navigation Bar Color */
.bg-dark {
    background-color: #456 !important;
}

.bg-light {
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.navigation-bar {
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.navbar-brand-icon {
  width: 40px;
  height: 40px;
}

.navbar-toggler {
  border-width: 0px;
}

.navbar-toggler .navbar-menu-icon {
  font-size: 32px;
  color: #fff;
}

.page-content {
    margin-top: 30px;
    margin-bottom: 70px;
}

.page-title {
    font-size: 36px;
    font-weight: 600;
    color: #567;
}

.page-subtitle {
    font-size: 22px;
    font-weight: 500;
    font-style: italic;
}

.inline-image {
    margin-top: 55px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.inline-image-label {
    margin-bottom: 40px;
    font-size: 15px;
}

.page-date {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 15px;
}

.button {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 7px;
    padding-bottom: 11px;

    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #456;
    background-color: #ffffff00;
    color: #456;
    cursor: pointer;
}

.button:hover {
    background-color: #456;
    color: #fff;
}

.footer {
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    background-color: #456;
    color: #fff;
}

.footer-column {
    margin-bottom: 30px;
}

.footer-column-title {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 15px;
}

.footer-column-content {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
    color: #ffffffaa;
}

.footer-contact-icon {
    width: 25px;
    height: 25px;
    margin-right: 7px;
    cursor: pointer;
}